{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if title %}
        <title>Caos News - {{ title }}</title>
    {% else %}
        <title>Caos News</title>
    {% endif %}
</head>
<body>
<ul id="slide-out" class="sidenav sidenav-fixed red darken-4">
    <li class="logo">
        <div id="logo-container" class="brand-logo">
            <a href="/">
                <object id="front-page-logo" type="image/svg+xml" data="{% static 'img/logo.svg' %}">
                    Caos News
                </object>
            </a>

        </div>
    </li>
    {% if user.is_authenticated and user.es_sysadmin %}
        <li><a href="#" class="white-text">CRUD</a></li>
    {% endif %}
    <li><a href="#" class="white-text">Second Sidebar Link</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons red-text">menu</i></a>

<main>
    <div class="container">
        {% block contenido %}{% endblock %}
    </div>
</main>


<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('.sidenav');
        const instances = M.Sidenav.init(elems, {});
    });
</script>
</body>
<footer class="page-footer red lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">Redes sociales</h5>
                <div class="row">
                    <p>Síguenos en nuestras redes sociales para más información</p>

                    <a href="https://www.facebook.com/" class="fa fa-facebook "></a>
                    <a href="https://twitter.com/" class="fa fa-twitter  "></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram  "></a>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; <a class="white-text text-lighten-3">Andrés Riquelme.Todos los derechos reservados</a>
        </div>
    </div>
</footer>
</html>