{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if title %}
        <title>Caos News - {{ title }}</title>
    {% else %}
        <title>Caos News</title>
    {% endif %}
</head>
<body>


<ul id="slide-out" class="sidenav sidenav-fixed red darken-4">
    <li class="logo">
        <div id="logo-container" class="brand-logo">
            <a href="/">
                <object id="front-page-logo" type="image/svg+xml" data="{% static 'img/logo.svg' %}">
                    Caos News
                </object>
            </a>

        </div>
    </li>
    <li><a href="{% url 'home' %}" class="white-text">Home</a></li>
    <li><a href="{% url 'crud_index' %}" class="white-text">CRUD</a></li>
    {% if user.is_authenticated and user.es_sysadmin %}
        <li><a href="{% url 'crud_index' %}" class="white-text">CRUD (SOLO SYSADMIN)</a></li>
    {% endif %}
    {% if user.is_authenticated and user.es_sysadmin or user.es_editor %}
    <li><a href="{% url 'vista_noticias' %}" class="white-text">Administrar noticias (SOLO EDITOR)</a></li>
    {% endif %}
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons red-text">menu</i></a>

<main>
    <div class="container">
        {% block contenido %}{% endblock %}
    </div>
</main>



<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('.sidenav');
        const instances = M.Sidenav.init(elems, {});
    });
</script>
</body>
{% include 'common/footer.html' %}
</html>