{% extends "sitio/base.html" %}
{% block contenido %}
    <ul class="collection with-header">
        {% if el_clima %}
        <li class="collection-item">
            <p class="collection-header">El clima hoy:</p>
            <div class="container">
                <div class="row">
                    <div class="col 2">
                        <img src="https://openweathermap.org/img/wn/{{ el_clima.icono }}@2x.png" alt="{{ el_clima.desc }}">
                    </div>
                    <div class="col 10 valign-wrapper">
                        <p class="center-align"> Hoy está: {{ el_clima.desc }} y hacen {{ el_clima.temp }}ºC</p>
                    </div>
                </div>
            </div>
        </li>
        {% endif %}
        {% if noticia_caliente %}
        <li class="collection-item">
            <p class="collection-header">Noticia más leída:</p>
            <div>
                <a href="#">🔥 {{ noticia_caliente.titulo }} por {{ noticia_caliente.autor }}</a>
                <span class="right">visitas: {{ noticia_caliente.visitas }}</span>
            </div>
        </li>
        {% endif %}
    </ul>

    <ul class="collection with-header">
        <li class="flow-text center-align">Últimas noticias</li>
        {% for post in posts %}
            <div class="card">
                <div class="card-content">
                    <h3>{{ post.titulo }}</h3>
                    <small>escrito por <a href="#">{{ post.autor }}</a> el {{ post.fecha }} </small>
                    <p class="flow-text">{{ post.contenido|truncatewords:30 }}</p>
                </div>
                <div class="card-action">
                    <a href="#">Leer más</a>
                </div>
            </div>
        {% endfor %}
    </ul>

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="" href="?page=1">Primera</a>
            <a class="" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            <a class="" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        {% endif %}

    {% endif %}
{% endblock contenido %}