{% extends 'sitio/home.html' %}

{% block contenido %}
    <article>
        <section>
            <h3>{{ noticia.titulo }}</h3>
            <p>{{ noticia.contenido }}</p>
        </section>
        <section>
            <ul class="collection">
                <li class="collection-item avatar">
                    <a href="{% url 'autor' noticia.autor_id %}">
                        <img src="https://thispersondoesnotexist.com/favicon.png" alt="foto de {{ noticia.autor }}"
                         class="circle">
                    </a>
                    <a href="{% url 'autor' noticia.autor_id %}" class="title">{{ noticia.autor }}</a>
                    <p>Escrita el {{ noticia.fecha }}</p>
                    <p class="right">Visitas: {{ noticia.visitas }}</p>
                </li>

                <li class="collection-item">
                    {% if mas_noticias %}
                        <p class="collection-header">Más de este autor:</p>
                        {% for mas in mas_noticias %}
                            <div>
                                <a href="{% url 'noticia' mas.pk %}">{{ mas.titulo }}</a>
                                <span class="right">visitas: {{ mas.visitas }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </li>
            </ul>
        </section>
    </article>

{% endblock %}