{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if title %}
        <title>Caos CRUD - {{ title }}</title>
    {% else %}
        <title>Caos CRUD</title>
    {% endif %}

    <style>
        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }
    </style>
</head>


<body>

<nav class="nav-extended black white-text">
    <div class="nav-wrapper">
        <a href="{% url 'crud_index' %}" class="brand-logo">CAOS CRUD</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
    <div class="nav-content hide-on-med-and-down">
        <ul class="tabs tabs-transparent">
            {% if user.es_sysadmin %}
                <li class="tab">
                    <a class="{{ clases_editores }}" href="{% url 'vista_editores' %}">Editores</a>
                </li>
                <li class="tab">
                    <a class="{{ clases_colaboradores }}"
                       href="{% url 'vista_colaboradores' %}">Colaboradores</a>
                </li>
            {% endif %}
            <li class="tab">
                <a class="{{ clases_noticias }}" href="{% url 'vista_noticias' %}">Noticias</a>
            </li>
            <li class="right"><a href="{% url 'home' %}">Volver al sitio</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <li>
        <a href="{% url 'home' %}">Volver al sitio</a>
    </li>
    {% if user.es_sysadmin %}
        <li>
            <a href="{% url 'crud_index' %}">CRUD</a>
        </li>
        <li>
            <a href="{% url 'vista_editores' %}">Editores</a>
        </li>
        <li>
            <a href="{% url 'vista_colaboradores' %}">Colaboradores</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'vista_noticias' %}">Noticias</a>
    </li>
</ul>
<br>

<div class="container">
    <div>
        <div class="card">
            <div class="card-content black-text">
                <span class="card-title">
                    {% if title %}{{ title }}{% else %}{% endif %}

                    {% if enlace_agregar %}
                        <a href="{{ enlace_agregar }}" class="waves-effect waves-teal btn-flat"><i
                                class="material-icons">playlist_add</i></a>
                    {% endif %}

                </span>

                {% block contenido %}{% endblock %}

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('.sidenav');
        const instances = M.Sidenav.init(elems, {});

        $('select').formSelect();
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});

    });


    {% if messages %}
        {% for message in messages %}
            color = {
                'success': 'green',
                'error': 'red',
                'warning': 'yellow'
            }

            M.toast({html: '{{ message | striptags }}', classes: color['{{ message.tags }}']});
        {% endfor %}
    {% endif %}
</script>
{% block extra_js %}{% endblock %}

</body>
{% include 'common/footer.html' %}
</html>