{% extends 'CRUD/base.html' %}
{% block class_editores %}active{% endblock %}
{% block enlace_agregar %}{% url 'agregar_editor' %}{% endblock %}
{% block header_tabla %}
    <tr>
        <th>ID</th>
        <th>Nombre usuario</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for editor in editores %}
        <tr>
            <td>{{ editor.pk }}</td>
            <td>{{ editor.username }}</td>
            <td>
                <a href="{% url 'editar_editor' editor.pk %}" class="waves-effect waves-teal btn-flat">
                    <i class="material-icons">edit</i>
                </a>
            </td>
            <td>
                <a
                        class="waves-effect waves-teal btn-flat modal-trigger"
                        onclick="setModalData('{{ editor.pk }}','{{ editor.username }}')"
                        href="#modal1"><i class="material-icons red-text">clear</i>
                </a>
            </td>
        </tr>
    {% endfor %}
    {% if editores.has_other_pages %}
    {% include 'common/pagination_table.html' with paginator=editores %}
    {% endif %}

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>¿Está seguro?</h4>
            <p id="modalMensaje">weuweuweuweuweuw</p>
        </div>
        <div class="modal-footer">
            <a id="botonBorrar" href="{% url 'borrar_usuario' 'ID_COLAB' %}"
               class="modal-close waves-effect waves-red btn-flat">Eliminar</a>
            <a onclick="resetModalData()" class="modal-close waves-effect waves-green btn-flat">Volver</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function setModalData(pk, nombre) {
            document.getElementById("modalMensaje").innerHTML = "Se eliminará <b>" + nombre + "</b>, ¡Permanentemente!";
            let url = document.getElementById("botonBorrar").getAttribute("href");
            url = url.replace("ID_COLAB", pk)
            document.getElementById("botonBorrar").setAttribute("href", url);
        }

        function resetModalData() {
            const btn = document.getElementById("botonBorrar");
            btn.setAttribute("href", "{% url 'borrar_usuario' 'ID_COLAB' %}")
        }

        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('.modal');
            const instances = M.Modal.init(elems);
        });
    </script>
{% endblock %}
