{% extends 'CRUD/base.html' %}
{% block class_noticias %}active{% endblock %}
{% block enlace_agregar %}{% url 'agregar_noticia' %}{% endblock %}
{% block header_tabla %}
    <tr>
        <th>Autor</th>
        <th>Fecha</th>
        <th>Título</th>
        <th>Publicada</th>
        <th>Visitas</th>
    </tr>
{% endblock %}
{% block cuerpo_tabla %}
    {% for noticia in noticias %}
        <tr>
            <td><a href="{% url 'editar_colab' noticia.autor_id %}">{{ noticia.autor }}</a></td>
            <td class="date-text">{{ noticia.fecha }}</td>
            <td>{{ noticia.titulo }}</td>
            <td>
                {% if noticia.publicada %}
                    <i class="material-icons green-text">toggle_on</i>
                {% else %}
                    <i class="material-icons grey-text">toggle_off</i>
                {% endif %}
            </td>
            <td>{{ noticia.visitas }}</td>
        <td>
                <a href="{% url 'editar_noticia' noticia.id %}" class="waves-effect waves-teal btn-flat">
                    <i class="material-icons">edit</i>
                </a>
            </td>
            <td>
                <a
                        class="waves-effect waves-teal btn-flat modal-trigger"
                        onclick="setModalData('{{ noticia.id }}','{{ noticia.titulo }}')"
                        href="#modal1"><i class="material-icons red-text">clear</i>
                </a>
            </td>
        </tr>
    {% endfor %}
    {% if noticias.has_other_pages %}
    {% include 'common/pagination_table.html' with paginator=noticias %}
    {% endif %}

        <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>¿Está seguro?</h4>
            <p id="modalMensaje">weuweuweuweuweuw</p>
        </div>
        <div class="modal-footer">
            <a id="botonBorrar" href="{% url 'borrar_noticia' 'ID_COLAB' %}"
               class="modal-close waves-effect waves-red btn-flat">Eliminar</a>
            <a onclick="resetModalData()" class="modal-close waves-effect waves-green btn-flat">Volver</a>
        </div>
    </div>

{% endblock cuerpo_tabla %}

{% block extra_js %}
    <script>
        function setModalData(pk, nombre) {
            document.getElementById("modalMensaje").innerHTML = "Se eliminará <b>" + nombre + "</b>, ¡Permanentemente!";
            let url = document.getElementById("botonBorrar").getAttribute("href");
            url = url.replace("ID_COLAB", pk)
            document.getElementById("botonBorrar").setAttribute("href", url);
        }

        function resetModalData() {
            const btn = document.getElementById("botonBorrar");
            btn.setAttribute("href", "{% url 'borrar_noticia' 'ID_COLAB' %}")
        }

        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('.modal');
            const instances = M.Modal.init(elems);
        });
    </script>
{% endblock %}