<style>
    .list-inline {
  padding-left: 5;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.fa {
    font-size: xx-large;
}
</style>

<footer class="page-footer red lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">Redes sociales</h5>
                <div class="row">
                    <p>Síguenos en nuestras redes sociales para más información</p>


                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/" class="fa fa-facebook white-text"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="fa fa-twitter  white-text"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="fa fa-instagram  white-text"></a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; <a class="white-text text-lighten-3">Andrés Riquelme.Todos los derechos reservados</a>
        </div>
    </div>
</footer>